# Question 5

In [1]:
# Shaojun Yu
# Mar 30
import pandas
import numpy as np
from xgboost import XGBClassifier

In [2]:
#load data
data = pandas.read_csv('hw2_data_2.txt', sep='\t')
train = data[0:599]
test = data[600:].reset_index(drop=True)
train_X = train.drop(columns=['y'])
train_y = train['y']
test_X = test.drop(columns=['y'])
test_y = test['y']

In [5]:
clf = XGBClassifier()
clf.fit(train_X, train_y)
print("Error rate in test data:", end=" ")
print("%.3f" % (1 - clf.score(test_X, test_y)))

Error rate in test data: 0.050

/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

### Feature Impotance

In [6]:
feature_importances = pandas.DataFrame([train_X.columns, clf.feature_importances_])
feature_importances.transpose().sort_values(by=[1], ascending=False)

      0           1
1    X2    0.251211
7    X8    0.247144
5    X6   0.0604843
19  X20   0.0321649
12  X13   0.0317917
11  X12   0.0287897
3    X4   0.0271088
24  X25   0.0257692
2    X3   0.0256931
21  X22   0.0249556
22  X23   0.0246409
17  X18   0.0230096
15  X16   0.0218792
8    X9   0.0216661
10  X11   0.0207392
4    X5   0.0184767
6    X7   0.0174985
23  X24   0.0172096
9   X10    0.014552
14  X15   0.0142318
0    X1   0.0139192
16  X17   0.0118586
13  X14   0.0106206
20  X21  0.00856056
18  X19  0.00602485